 
 <html>
    <head>
        <title>Resultado</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Resultado</h1>
            </div>
            <div id="content">
            <ul>

            <li>Faltam : <strong>{{total_days_left}}</strong> dias para acabarem as aulas </li>
            
             <li>Você pode gastar por dia: <strong>U${{total_per_day}}</strong> </li>
             
                 
             <li>Se você gastar <strong>$21</strong> todos os dias, você poderá comer:
             <ul>
                <li><strong>{{total_days_uofa}}</strong> dias  com meal plan. </li>
                <li><strong>{{total_days_boulevard}} </strong>dias na boulevard.</li>
                
                </ul>
             </li>  
    
             <li>Se você pretende gastar <strong>$21</strong> todos os dias, até o final das aulas você terá:  <strong>${{mybalance}}</strong></li>
            
              </ul>
    
                

        
            </div>
        
              
            </div>
        </div>
    </body>
</html>
