 
<html>
    <head>
        <title>UofA - Cálculo do Meal Plan</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Será que meu meal plan vai dar?</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="mealplan">Meal Plan (U$): ex: 980.00</label>
                  <input type="text" name="mealplan" /><br />
                  <label for="catcash">CatCash (U$):</label>
                  <input type="text" name="catcash" /><br />
                   <label for="trip">Vai viajar?</label>
                  <input type="radio" name="trip" value="0"  onclick ="notgotrip()" />Não
                  <input type="radio" name="trip" value="1" onclick="gotrip()" />Sim <br>
                  Número de dias: 
                  <select name = "trip_select_days" disabled id=selecttrip>
		  <option value="0">0</option>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option> 
		  <option value="4">4</option>
		  <option value="5">5</option>
		  <option value="6">6</option>
		  <option value="7">7</option>
		  <option value="8">8</option>
		  <option value="9">9</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option> 
		</select>
		<input type="hidden" name="trip_select_days" id="myhidden" value="0">
		  <br />
                  <script>
	      function gotrip() {
	      document.getElementById("selecttrip").disabled = false;
	      document.getElementById("myhidden").disabled = true;
		  }
		 function notgotrip() {
	      document.getElementById("selecttrip").disabled = true;
		  }
		</script>
		  <br /> 
                  <label for="notice-date">Último dia de aula: 18/dez/2014 (Use o calendário para modificar!):</label>
                  <input type="date" name="mydate" value="2014-12-18"/><br/><br />
                  <input type="submit" value="Vai!"/>
                </form>
            </div>
           
            </div>
        </div>

       
    </body>
</html>
 